
.slick-slider {
    width: 80%; 
    margin: 0 auto;
  }
  
  .slick-slide {
    text-align: center;
  }
  
  .carousel--img {
    height: 40vw;
    border-radius:100%;
    border: solid .5em white;
    margin:0.5em;
  }
  