.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.slick-slide {
  text-align: center;
}

.carousel--img {
  height: 20vw;
  border-radius: 100%;
  border: solid .5em white;
  margin: 1em;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-text {
  margin-top: 1em;
  text-align: center;
  font-family: "Playpen Sans", cursive;
  color: #c12424;
  font-size: 1.15em
}
